/*
Copyright 2023 Yunmoan # ZGIT.
未使用第三方 UI 组件库.
仅供 OpenFrp 使用.
*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: NovecentoWide;
    src: url('/assets/NovecentoWideNormal.ttf');
}

@font-face {
    font-family: NovecentoWideBold;
    src: url('/assets/NovecentoWideBold.ttf');
}


.novecento-font {
    font-family: NovecentoWide;
}

/*加载动画*/
@-webkit-keyframes changeright {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 0;
    background: #000;
    color: #999;
    font-size: 14px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    overflow: auto;
}

.footer .copyright {
    display: inline-block
}

.footer p {
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    line-height: 1.5
}

.footer a,
.footer a:link,
.footer a:visited,
.footer a:active {
    color: #999;
    text-decoration: none;
    font-size: 14px
}

.footer .logo-bigger {
    width: 200px;
    height: inherit !important
}

.footer a:hover {
    color: #ccc;
    text-decoration: underline
}

.footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1280px;
    margin: 0 auto
}

.footer .footer-info {
    color: #aaa;
    margin-left: 60px;
    line-height: 24px
}

.footer .footer-info .footer-advice p {
    padding: 0
}

.footer .footer-info .footer-filing-content {
    padding: 0
}

.footer .footer-info .footer-filing-content .footer-filing-item {
    padding: 0
}

.footer .footer-info .footer-filing-tip {
    padding: 0
}

.footer .footer-info .footer-tip {
    padding: 0
}

.footer .footer-info .inline-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.text a{
    color: #000000
}

.text a:hover{
    color: #646464
}

.footer .footer-info a.protocol {
    color: #fff
}

.footer .footer-info .split-line {
    margin-left: 10px;
    margin-right: 10px
}

.footer .footer-info .split-line:first-child {
    display: none
}

.footer .footer-info .split-line:last-child {
    display: none
}

.footer .footer-info .footer-protocol {
    color: #fff;
    margin-bottom: 28px
}

.footer .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.footer .footer-link a {
    margin: 0 8px 0 5px
}

.footer .footer-link a:first-child {
    margin-left: 0
}

.footer .footer-link .copyright {
    padding-top: 15px;
    padding-left: 5px
}

.footer .footer-advice p {
    padding: 5px 0
}

.footer .footer-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 94px;
    min-width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.footer .footer-logo span {
    width: 1px;
    height: 28px;
    background: #666;
    margin-left: 25px;
    margin-right: 25px
}

.footer .footer-logo img:first-child {
    height: 42px
}

.footer .footer-filing-content {
    padding: 5px 0
}

.footer .footer-filing-content .footer-filing-item {
    padding: 5px 0
}

.footer .footer-filing-tip {
    padding: 5px 0
}

.footer .footer-filing-tip p {
    padding: 5px 0
}

.footer .footer-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 10px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 800px
}

.footer .footer-icon img {
    display: block;
    width: auto;
    height: 100%
}

.footer .footer-icon a {
    display: block;
    width: 116px;
    height: 46px;
    margin-right: 15px;
    background-size: 116px 46px;
    margin-bottom: 10px
}

.footer .footer-tip {
    padding: 5px 0
}

.section {
    height: 100vh;
    /* 让每个节元素高度填满整个视口 */
    display: flex;
    /* 使用flex布局使节中的元素垂直居中 */
    /* justify-content: center; */
    /* align-items: center; */
}

.loading {
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.411) 95%);
    height: 100%;
    width: 100%;
    z-index: 99999;

}

.loading-content svg {
    -webkit-animation: changeright 1.5s linear infinite;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    left: 15px;
    line-height: 50px;
}

.loading-content p {
    font-family: NovecentoWide;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 15px;
    left: 80px;
    line-height: 50px;
}



.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.35) 20%, rgba(0, 0, 0, 0.001));
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
}

.menu a,
.menu a:link,
.menu a:visited,
.menu a:active {
    font-family: "Microsoft YaHei", "微软雅黑";
    color: #e2e2e2;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    color: #f5f5f5;
}

.menu li {
    margin: 0 20px;

}

#menu li.active {
    color: #f5f5f5 !important;
}

.menu a.active {
    color: #f5f5f5 !important;
}

.navigation {
    padding: 0 16px;
    height: calc(3.6rem - 1px);
    user-select: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .siteName {
    letter-spacing: 3px;
    font-family: NovecentoWideBold;
    white-space: nowrap;
    margin: 5px;
    text-align: left;
    color: #fff;
    flex: 1;
}

.navigation .btn {
    margin-right: 40px;
    font-size: 14px !important;
    padding: 8px 15px;
    border: 1px solid #54acff;
    border-radius: 5px;
    text-decoration: none;
    color: #5191cc !important;
    transition: all .3s;

}

.navigation .btn:hover {
    background-color: #3883ca;
    color: #ffffff !important;
}

.page-1 {
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@-webkit-keyframes float {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -10px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.page-1 .float-down {
    animation: 3s ease-in-out 0s infinite alternate float;
    animation-direction: alternate-reverse;
    position: absolute;
    font-size: 40px;
    right: calc(50% - 20px);
    bottom: 5%;
    color: rgba(255, 255, 255, .5);
    transition: all .3s;
}

.page-1 .left-text {

    position: absolute;
    left: 10%;

}

.page-1 .left-text .middletext {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 40px;
    color: #fff;
}

.page-1 .left-text .btn {
    border: 2px solid #fff;
    color: #fff;
    margin-right: 30px;
    font-size: 15px !important;
    padding: 16px 35px;
    border-radius: 35px;
    text-decoration: none;
    transition: all .3s;
}

.page-1 .left-text .btn:hover {
    background-color: #fff;
    color: #000 !important;
}

.page-1 .left-text .maintext {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 60px;
    color: #ffffff
}

.page-2 {
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/background3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.page-2 .right-text {

    position: absolute;
    right: 10%;

}

.page-2 .right-text .text {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
}

.page-2 .right-text .middletext {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 40px;
    color: #fff;
}

.page-2 .right-text .maintext {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    color: #ffffff;
}

h1,
h2,
h3 {
    font-weight: 500;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.page-3 {
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.page-3 .left-text {

    position: absolute;
    top: 20%;
    left: 10%;

}

.page-3 .left-text .text {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
}

.page-3 .left-text .middletext {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 40px;
    color: #fff;
}

.page-3 .left-text .maintext {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    color: #ffffff;
}

.page-3 {
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.page-4 .left-text {
    overflow:hidden;
    position: absolute;
    top: 20%;
    left: 10%;

}


.page-4 .left-text .bottom {

    position: absolute;
    bottom: 20%;
    left: 10%;

}

.page-4 .left-text .text {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #000000;
}

.page-4 .left-text .middletext {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 40px;
    color: #000000;
}

.page-4 .left-text .maintext {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    color: #000000;
}

canvas {
    background-color: #eee;
    display: block;
    margin: 0 auto;
}

.card-container {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center !important;
    align-items: center !important;

}

.card {
    width: 20%;
    margin-bottom: 30px;
    background-color: #fff;
    float: left;
    width: 270px;
    height: 300px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left:10px;
    margin: 0 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    border-radius: 10px;
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.card h2 {
    font-size: 25px;
    margin: 20px 20px;
    color: #ffffff91;
}

.card p {
    letter-spacing: 2px;
    font-size: 16px;
    margin: 0 23px;
    color: #aaaaaa9c;
    line-height: 1.6;
    text-align: justify;
}

.card .small {
    letter-spacing: 1px;
    font-size: 5px;
    bottom: 10px !important;
    margin: 0 23px;
    color: #4242424d;
    line-height: 1.5;
}
.footer .m-copyright {
    display: none;
}
.footer .m-icp {
    display: none;
}
.footer .m-footer-link {
    display: none;
}
@media only screen and (max-width: 768px) {
    .card-container {
        width: 100vh; 
        overflow-x:auto; 
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin-right: 20px;
        margin: 30px;
        background-color: #fff;
        float: left;
        width: 230px;
        height: 300px;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
    }

    .card h2 {
        font-size: 25px;
        margin: 20px 20px;
        color: #ffffff91;
    }

    .card p {
        letter-spacing: 2px;
        font-size: 16px;
        margin: 0 23px;
        color: #aaaaaa9c;
        line-height: 1.6;
        text-align: justify;
    }

    .card:last-child {
        margin-right: 0;
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.35) 20%, rgba(0, 0, 0, 0.001));
        z-index: 100;
        display: flex;
        justify-content: space-between;
    }
    
    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 30px;
    }
    
    .menu a,
    .menu a:link,
    .menu a:visited,
    .menu a:active {
        font-family: "Microsoft YaHei", "微软雅黑";
        color: #e2e2e2;
        text-decoration: none;
        font-size: 10px;
    }
    
    .menu a:hover {
        color: #f5f5f5;
    }
    
    .menu li {
        margin: 0 5px;
    
    }
    
    .navigation {
        padding: 0 3px;
        height: calc(3.6rem - 1px);
        user-select: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .navigation .siteName {
        letter-spacing: 1px;
        font-family: NovecentoWideBold;
        white-space: nowrap;
        text-align: left;
        color: #fff;
        flex: 1;
    }
    
    .navigation .btn {
        margin-right: 9px;
        font-size: 10px !important;
        padding: 5px 10px;
        border: 1px solid #54acff;
        border-radius: 5px;
        text-decoration: none;
        color: #5191cc !important;
        transition: all .3s;
    
    }
    
    .navigation .btn:hover {
        background-color: #3883ca;
        color: #ffffff !important;
    }
    .page-1 .float-down {
        animation: 3s ease-in-out 0s infinite alternate float;
        animation-direction: alternate-reverse;
        position: absolute;
        font-size: 30px;
        right: calc(50% - 20px);
        bottom: 10%;
        color: rgba(255, 255, 255, .5);
        transition: all .3s;
    }
    
    .page-1 .left-text {
    
        position: absolute;
        top:30%;
        left: 10%;
    
    }
    
    .page-1 .left-text .middletext {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 40px;
        color: #fff;
    }
    
    .page-1 .left-text .btn {
        border: 2px solid #fff;
        color: #fff;
        margin-right: 30px;
        font-size: 15px !important;
        padding: 10px 20px;
        border-radius: 35px;
        text-decoration: none;
        transition: all .3s;
    }
    
    .page-1 .left-text .btn:hover {
        background-color: #fff;
        color: #000 !important;
    }
    
    .page-1 .left-text .maintext {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 25px;
        color: #ffffff
    }
    .page-2 {
        background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/background3.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .page-2 .right-text {
    
        position: absolute;
        top:30%;
        left: 10%;
    
    }
    
    .page-2 .right-text .text {
        font-size: 15px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #fff;
    }
    
    .page-2 .right-text .middletext {
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 40px;
        color: #fff;
    }
    
    .page-2 .right-text .maintext {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 30px;
        color: #ffffff;
    }
    .page-3 {
        background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/background2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
    .page-3 .left-text {
    
        position: absolute;
        top: 20%;
        left: 3%;
    
    }
    
    .page-3 .left-text .text {
        font-size: 15px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #fff;
    }
    
    .page-3 .left-text .middletext {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 40px;
        color: #fff;
    }
    
    .page-3 .left-text .maintext {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 20px;
        color: #ffffff;
    }
    
    .page-3 {
        background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/background2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .page-4 .left-text {

        position: absolute;
        top: 20%;
        left: 10%;
    
    }
    
    .page-4 .left-text {
    
        position: absolute;
        top: 20%;
        left: 10%;
    
    }
    
    .page-4 .left-text .bottom {
    
        position: absolute;
        bottom: 20%;
        left: 10%;
    
    }
    
    .page-4 .left-text .text {
        font-size: 13px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #000000;
    }
    
    .page-4 .left-text .middletext {
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 40px;
        color: #000000;
    }
    
    .page-4 .left-text .maintext {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 30px;
        color: #000000;
    }
    .footer .footer-content {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer .m-copyright {
        display: block;
        text-align: center;
    }
    .footer .m-icp {
        font-size: 20px !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .footer .footer-info{
        display: none;
    }
    .footer .m-footer-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    
    .footer .m-footer-link a {
        margin: 0 8px 0 5px;
        text-align: center;
    }
    
    .footer .m-footer-link a:first-child {
        text-align: center;
    }
    .footer .m-footer-link a.protocol {
        color: #fff
    }

    .footer .m-footer-link .footer-protocol {
        text-align: center;
        color: #fff;
        margin-bottom: 28px
    }
}